
    <div class="text-center padded-tb bg-dark" id="footer">
      <p><a href="/">Home</a> | <a href="/users/center">Add center</a> | <a href="/users">Appointment Details</a> | <a href="/users/signup">Add Doctor</a> 
      <p>Copyright &copy; Kayinamura Deborah | <a href="/users/login">Account Login</a></p>
    </div>
  </div>
  <script>
  var btnClear = document.getElementById('btn-clear');
  btnClear.addEventListener('click', ()=>{
    document.getElementById('toast').classList.add('hide');
  })
  </script>
	</body>
</html>	
