
    <div class="text-center padded-tb bg-dark" id="footer">
        <p><a href="/">Home</a> | <a href="/users/add">Request Appointment</a> </p>
        <p>Copyright &copy; Kayinamura Deborah | <a>2019</a>
      </div>
    </div>
    <script>
    var btnClear = document.getElementById('btn-clear');
    btnClear.addEventListener('click', ()=>{
      document.getElementById('toast').classList.add('hide');
    })
    </script>
      </body>
  </html>	
  