<html>

<head>
  <title>Counseling Appointment</title>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/spectre.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/spectre-icons.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/style.css" />
</head>

<body>
  <!-- <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <h1><a href="/"><span class="logo_colour">University of Kigali</span></a></h1>
          <h2>Students Registration</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <li class="selected"><a href="/">Home</a></li>
		  <li><a href="/users/add">Add New Student</a></li> 
		  <li><a href="/users">View Students List</a></li>
		  <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
   </div> -->

   <div class="navbar-wrapper--outer shadow">
     <div class="navbar-wrapper--inner padded centerize">
      <header class="navbar">
        <section class="navbar-section">
          <a href="/" class="navbar-brand">Online Counseling Appointment</a>
        </section>
        <section class="navbar-section">
          <a href="/users/add" class="btn btn-link">Request Appointment</a>
          <!-- <a href="/contact" class="btn btn-link">Contact Us</a> -->
        </section>
      </header>
       
     </div>
   </div>

