<!--
including header content which is common for all pages
-->
<%- include layouts/headerUser.ejs %>

<div class="content-wrapper--outer padded vert-center lg-feature">
    <div class="content-wrapper-inner padded-tb centerize">
        <div class="card transparent-white text-center">
            <div class="card-header">
                <div class="card-title text-brown h5">Welcome to the Online Counseling Appointment</div>
                <div class="card-subtitle text-light">Get an appointment to see a counsellor from anywhere at anytime</div>
            </div>
            <div class="card-body">

            </div>
            <div class="card-footer">
                <a href="/users/add" class="btn text-light btn-link btn-primary bg-brown">Get Started <i class="icon icon-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>
<!--
including footer content which is common for all pages
-->
<%- include layouts/footerUser.ejs %>
